.project-content.chaione {
  h1, h2 {
    color: #1081d8;
  }

  h3 {
    color: #13618b;
  }

  p.highlight.title {
    color:  #1081d8;
    font-size: xx-large;
    font-style: italic;
  }

  p.highlight.medium {
    color: #18a384;
    font-size: large;
  }
}
