@import "./include-media.scss";

.project {
  .project-content {
    padding-left: 5%;
    padding-right: 5%;

    .project-details {
      @include media(">=desktop") {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
      }
    
      .section-block {
        padding-top: 2vh;
      }
    
      h1 {
        color: #eb8100;
        text-align: center;
      }
    
      h2 {
        font-size: x-large;
      }
    
      h3 {
        font-style: italic;
        font-weight: normal;
      }
    }
  }

  .img-container {
    padding-bottom: 10px;
    padding-top: 10px;

    h4 {
      font-size: small;
      font-weight: bold;
      text-align: center;
    }

    img {
      width: 100%;
    }
  }
}
