.two-column-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 20px;
  }

  .row:after {
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
}
